@font-face {
  font-family: "Gilda Display";
  src: url("../webfonts/Gilda_Display/GildaDisplay-Regular.ttf")
    format(truetype);
  font-weight: bold;
}

@font-face {
  font-family: "Barlow Condensed";
  src: url("../webfonts/Barlow_Condensed/BarlowCondensed-Light.ttf")
    format(truetype);
}
