@font-face {
  font-family: "Gilda Display";
  src: url("../webfonts/Gilda_Display/GildaDisplay-Regular.ttf")
    format(truetype);
  font-weight: bold;
}

@font-face {
  font-family: "Barlow Condensed";
  src: url("../webfonts/Barlow_Condensed/BarlowCondensed-Light.ttf")
    format(truetype);
}

/* 
  font-family: "Gilda Display", serif;
  font-family: "Barlow Condensed", sans-serif; */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-color: #2095ae;
  --black-color: #fff;
  --main-transition: 0.4s;
}

body {
  font-family: "Barlow Condensed", sans-serif;
}
html,
body {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* start header */
.header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 9999;
  background-color: transparent;
  background-color: var(--black-color);
  /* box-shadow: 0 0 10px; */
}
.header .header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 75px;
}
.header .header-content::after {
  content: "";
  position: absolute;
  height: 1px;
  background-color: var(--main-color);
  width: 100%;
  bottom: 0;
}
.header .logo {
  width: 100px;
}
.header .links {
  display: flex;
  align-items: center;
}
.header .links ul {
  display: flex;
  margin: 0;
  position: relative;
}
.header .links ul a {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #0f2454;
  margin: 1px;
  letter-spacing: 3px;
  text-transform: uppercase;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  padding-right: 12px;
  padding-left: 12px;
}

.header .links ul a.active {
  font-weight: bold;
}

.header .links ul a.active,
.header .links ul a:hover {
  color: var(--main-color);
}
.header .links .dropdown-menu {
  position: absolute;
  right: 40px;
  top: 67px;
  display: none;
}
.header .links .dropdown-menu.show {
  display: flex;
}
.header .icons {
  display: flex;
}
.header .icons a {
  font-size: 20px;
  padding: 10px;
  color: var(--black-color);
  transition: 0.3s;
}
.header .icons a:hover {
  color: var(--hover-color);
}
.header .header-content .toggle-menu {
  background: none;
  border: none;
  width: 35px;
  cursor: pointer;
  margin-top: 15px;
  display: none;
  position: relative;
}
.header .header-content .toggle-menu.menu-active::before {
  content: "";
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
  position: absolute;
  bottom: -15px;
  left: 10px;
}
.header .header-content .toggle-menu:focus {
  outline: none;
}
.header .header-content .toggle-menu span {
  display: block;
  background-color: var(--main-color);
  height: 4px;
  margin-bottom: 4px;
}
@media (max-width: 991px) {
  .header .icons {
    display: none;
  }
  .header .links ul {
    display: none;
  }
  .header .links ul.open {
    background-color: #fff;
    padding: 10px;
    display: block;
    position: absolute;
    left: 0;
    top: 74px;
    width: 100%;
    border-radius: 4px;
    text-align: left;
    box-shadow: 0 0 10px;
  }
  .header .links ul li a {
    padding: 15;
    color: var(--main-color);
    font-weight: bold;
  }
  .header .links ul li a:hover {
    background-color: var(--main-color);
    border-radius: 10px;
    color: var(--black-color);
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .header .header-content .toggle-menu {
    display: inline-block;
  }
}

/* end header */

.landing {
  background-image: url("../images/slider-3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: calc(100vh - 75px);
  position: relative;
  transition: background-image 0.5s ease;
}

.landing::before {
  content: "";
  position: absolute;
  background-color: rgb(0 0 0 / 20%);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.landing .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 40px;
  text-align: center;
}
@media (max-width: 767px) {
  .landing .content {
    padding: 40px 10px;
  }
}
.landing .content h4 {
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #fff;
  animation-delay: 0.4s;
}
.landing .content h1 {
  position: relative;
  font-family: "Gilda Display", serif;
  font-size: 75px;
  text-transform: uppercase;
  line-height: 1em;
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
  color: #fff;
  font-weight: 400;
  letter-spacing: 10px;
  line-height: 1.9;
}
@media (max-width: 767px) {
  .landing .content h1 {
    font-size: 40px;
  }
}
.landing .content button {
  font-size: 15px;
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-weight: 400;
  padding: 15px 20px;
  display: inline-block;
  color: #fff;
  letter-spacing: 3px;
  border: 2px solid var(--black-color);
  background: transparent;
  transition: 0.3s ease all;
  text-decoration: none;
  z-index: 1;
}
.landing .content button::before {
  content: "";
  position: absolute;
  transition: 0.3s ease all;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  background-color: #fff;
  z-index: -1;
}
.landing .content button:hover {
  color: #000;
}
.landing .content button:hover::before {
  transition: 0.3s ease all;
  left: 0;
  right: 0;
  opacity: 1;
}

/* Start About Page */
.about {
  padding-top: 50px;
  padding-bottom: 50px;
}
.about .content {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
@media (max-width: 991px) {
  .about .content {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}
.about .text {
  position: relative;
  width: 48%;
}
@media (max-width: 991px) {
  .about .text {
    position: relative;
    width: 100%;
  }
}
.about .text h3 {
  font-size: 15px;
  font-weight: 400;
  color: #2095ae;
  text-transform: uppercase;
  position: relative;
  letter-spacing: 5px;
  margin-bottom: 5px;
}
.about .text h4 {
  font-family: "Gilda Display", serif;
  font-size: 46px;
  font-weight: 400;
  color: #0f2454;
  position: relative;
  margin-bottom: 20px;
  line-height: 1.25em;
}
.about .text p {
  font-family: "Gilda Display", serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.9;
  color: #676977;
  margin-bottom: 20px;
}
.about .text a {
  font-size: 24px;
  color: #2095ae;
  letter-spacing: -1px;
}
.about .text .call {
  color: #2095ae;
  font-size: 40px;
  margin-right: 15px;
}
.about .icon {
  display: flex;
}
.about .text span {
  display: block;
  margin-bottom: 15px;
  padding: 15px;
  padding-left: 0;
}
.about .text span .start {
  font-weight: normal;
  font-size: 18px;
  color: #e4a853 !important;
  background-color: #fff;
}
.about .img {
  width: 48%;
}

@media (max-width: 991px) {
  .about .img {
    position: relative;
    width: 100%;
  }
}

/* Start Rooms */
.rooms {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #f4f5f8;
}
.rooms h3 {
  font-size: 15px;
  font-weight: 400;
  color: #2095ae;
  text-transform: uppercase;
  position: relative;
  letter-spacing: 5px;
  margin-bottom: 5px;
}
.rooms h4 {
  font-family: "Gilda Display", serif;
  font-size: 46px;
  font-weight: 400;
  color: #0f2454;
  position: relative;
  margin-bottom: 20px;
  line-height: 1.25em;
}
.rooms .room {
  display: flex;
  position: relative;
}
@media (max-width: 991px) {
  .rooms .room {
    flex-direction: column;
    /* flex-wrap: wrap; */
  }
}
.rooms .room .img {
  width: 50%;
}
.rooms .room img {
  max-width: 100%;
}
.rooms .room .caption {
  width: 100%;
  background-color: #fff;
  padding: 30px;
  width: 50%;
}
@media (max-width: 991px) {
  .rooms .room .img {
    width: 100%;
  }
  .rooms .room .caption {
    width: 100%;
  }
}
.rooms .room .caption h3 {
  font-size: 25px;
  font-weight: bold;
  color: var(--main-color);
}
.rooms .room .caption h3 span {
  font-size: 15px;
  color: black;
  font-weight: 200;
}
.rooms .room .caption h4 {
  font-family: "Gilda Display", serif;
  font-size: 35px;
  margin-bottom: 5px;
}
.rooms .room .caption .room-facilities {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-top: 30px;
}
.rooms .room .caption .room-facilities::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: rgba(32, 149, 174, 0.7);
  bottom: -15px;
  left: 0;
}
.rooms .room .caption .info-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.rooms .room .caption .info-wrapper .more {
  text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 3px;
}
/* .rooms .room .caption .info-wrapper .butn-dark a {
  font-weight: 400;
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  background: var(--main-color);
  color: #fff;
  padding: 15px 30px;
  margin: 0;
  position: relative;
  font-size: 15px;
  letter-spacing: 3px;
} */

.rooms .room .caption .info-wrapper .butn-dark a {
  font-weight: 400;
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  background-color: var(--main-color);
  color: #fff;
  padding: 15px 30px;
  margin: 0;
  position: relative;
  font-size: 15px;
  display: inline-block;
  transition: 0.3s ease all;
  z-index: 1;
}
.rooms .room .caption .info-wrapper .butn-dark a::before {
  content: "";
  position: absolute;
  transition: 0.3s ease all;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  background-color: #fff;
  border: 1px solid var(--main-color);
  z-index: -1;
}
.rooms .room .caption .info-wrapper .butn-dark a:hover {
  color: var(--main-color);
}
.rooms .room .caption .info-wrapper .butn-dark a:hover::before {
  transition: 0.3s ease all;
  left: 0;
  right: 0;
  opacity: 1;
}

/* End Rooms */
/* Start video */
.video {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url("../images/slider-4.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 70vh;
  position: relative;
}
.video .overlay {
  position: absolute;
  background: #09153259;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.video .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  min-width: 500px;
  padding: 40px;
  text-align: center;
}
.video span {
  display: block;
  margin-bottom: 15px;
  padding: 15px;
  padding-left: 0;
}
.video span .start {
  font-weight: normal;
  font-size: 18px;
  color: #e4a853 !important;
}
.video .content p {
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #fff;
  animation-delay: 0.4s;
}
.video .content h3 {
  font-size: 46px;
  font-family: "Gilda Display", serif;
  font-weight: 400;
  color: #fff;
  line-height: 1.25em;
}
@media (max-width: 767px) {
  .video .content h3 {
    font-size: 36px;
  }
}

/* End Video */
/* Start Services */
.services {
  padding-top: 50px;
  padding-bottom: 50px;
}
.services h3 {
  font-size: 15px;
  text-align: center;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  color: #2095ae;
  text-transform: uppercase;
  position: relative;
  letter-spacing: 5px;
}
.services h4 {
  text-align: center;
  font-family: "Gilda Display", serif;
  font-size: 46px;
  font-weight: 400;
  color: #0f2454;
  position: relative;
  margin-bottom: 20px;
  line-height: 1.25em;
}
.services .content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}
@media (max-width: 1200px) {
  .services .content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
}
@media (max-width: 1020px) {
  .services .content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }
}
.services .content .service {
  position: relative;
  width: 100%;
  background-color: #f4f5f8;
}
.services .content .service .text {
  margin-top: 50px;
  padding: 20px;
}
.services .content .service .text span {
  font-size: 15px;
  letter-spacing: 3px;
  color: #2095ae;
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.services .content .service .text h3 {
  text-align: center;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 32px;
  font-weight: 400;
  color: #0f2454;
  position: relative;
  margin-bottom: 20px;
  line-height: 1.25em;
  text-align: left;
}
@media (max-width: 767px) {
  .services .content .service {
    margin-bottom: 10px;
  }
}
.services .content .service .text p {
  font-family: "Barlow", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.9;
  color: #676977;
  margin-bottom: 20px;
}
.services .content .service .text button {
  font-weight: 400;
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  background-color: var(--main-color);
  color: #fff;
  padding: 15px 30px;
  margin: 0;
  position: relative;
  font-size: 15px;
  display: inline-block;
  transition: 0.3s ease all;
  border: 0;
  z-index: 1;
}
.services .content .service .text button::before {
  content: "";
  position: absolute;
  transition: 0.3s ease all;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  background-color: #fff;
  border: 1px solid var(--main-color);
  z-index: -1;
}
.services .content .service .text button:hover {
  color: var(--main-color);
}
.services .content .service .text button:hover:before {
  transition: 0.3s ease all;
  left: 0;
  right: 0;
  opacity: 1;
}

.services .content .service img {
  max-width: 100%;
  transition: var(--main-transition);
}
.services .content .service .img {
  transition: var(--main-transition);
  overflow: hidden;
}
.services .content .service:hover img {
  transform: scale(1.1);
}
/* End Services */
/* Start clients */
.clients {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url("../images/slider-1.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 82vh;
  position: relative;
}
.clients .overlay {
  position: absolute;
  background: #09153259;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.clients .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  width: 100%;
  padding: 40px;
  text-align: center;
}

.clients .content h2 {
  font-family: "Barlow Condensed", sans-serif;
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: 10px;
}
.clients .content h3 {
  font-size: 32px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 15px;
}
.clients .content p {
  width: 60%;
  margin: 0 auto;
}
.clients .content img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.clients .clie {
  width: 120px;
  position: absolute;
  display: flex;
  left: 50%;
  transform: translateX(-50%);
  gap: 20px;
  overflow-y: auto;
  white-space: nowrap;
}

.clients .clie::-webkit-scrollbar {
  width: 0;
}
.clients .clie .client {
  padding: 0 20px;
}
.clients span {
  display: block;
  margin-bottom: 15px;
  padding: 15px;
  padding-left: 0;
}
.clients span .start {
  font-weight: normal;
  font-size: 15px;
  color: #e4a853;
}
.clients .content p {
  font-family: "Barlow", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.9;
  color: #fff;
  margin-bottom: 20px;
}
.clients .content h3 {
  font-size: 32px;
  font-weight: 400;
  color: #fff;
  line-height: 1.25em;
}
.clients h4 {
  font-family: "Barlow", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.9;
  color: #fff;
  margin-bottom: 20px;
}
.clients .content .span {
  position: absolute;
  display: flex;
  align-items: end;
  right: 33px;
  bottom: -179px;
}
.clients .content .span span {
  width: 15px;
  height: 15px;
  border: 1px solid #000;
  border-radius: 50%;
  padding: 5px;
  margin-left: 5px;
  cursor: pointer;
}
.dot {
  background-color: #fff;
}
/* End clients */
/* Start facilities */
.facilities {
  padding-top: 50px;
  padding-bottom: 50px;
}
.facilities h4 {
  text-align: center;
  font-size: 15px;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  color: var(--main-color);
  text-transform: uppercase;
  position: relative;
  letter-spacing: 5px;
  margin-bottom: 5px;
}

.facilities h3 {
  font-size: 46px;
  font-family: "Gilda Display", serif;
  font-weight: 400;
  color: #0f2454;
  position: relative;
  text-align: center;
  margin-bottom: 30px;
}
.facilities .content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}
.facilities .content .box {
  padding: 20px;
  border: 1px solid rgba(32, 149, 174, 0.2);
}
.facilities .content .box .active {
  font-size: 40px;
  color: #2095ae;
  line-height: 1;
  font-style: normal;
  margin-bottom: 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.facilities .content .box h3 {
  font-family: "Gilda Display", serif;
  font-weight: 400;
  line-height: 1.25em;
  margin: 0 0 20px 0;
  margin-bottom: 20px;
  font-size: 30px;
  text-align: left;
}
.facilities .content .box p {
  font-family: "Barlow", sans-serif;
  font-size: 15px;
  line-height: 1.9;
  margin: 0;
  color: #676977;
}

/* sTart Book */
.books {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url("../images/slider-1.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 82vh;
  position: relative;
}
@media (max-width: 991px) {
  .books {
    height: 130vh;
  }
}
@media (max-width: 767px) {
  .books {
    height: 140vh;
  }
}
.books .overlay {
  position: absolute;
  background: #09153259;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.books .content {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  z-index: 100;
}
@media (max-width: 991px) {
  .books .content {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 100;
  }
}
.books .content .info {
  width: 45%;
}
@media (max-width: 991px) {
  .books .content .info {
    width: 100%;
    margin-bottom: 30px;
  }
}
.books .content .info span {
  display: block;
  margin-bottom: 15px;
  padding: 15px;
  padding-left: 0;
}
.books .content .info span .start {
  font-weight: normal;
  font-size: 15px;
  color: #e4a853;
}
.books .content p {
  font-size: 24px;
  font-family: "Gilda Display", serif;
  font-weight: 400;
  line-height: 1.25em;
  margin: 0 0 20px 0;
  margin-bottom: 20px;
  color: var(--black-color);
  max-width: 80%;
}
.books .content .info .icon .call {
  font-size: 30px;
  color: #fff;
  margin-right: 10px;
}
.books .content .info .icon a {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.9;
  color: var(--black-color);
  font-size: 30px;
}
.books .content .info .icon .check,
.books .content .info .icon .a {
  font-size: 15px;
  color: var(--black-color);
  font-weight: 400;
  line-height: 1.75em;
}
.books .content .book {
  display: flex;
  flex-direction: column;
  width: 30%;
  position: relative;
  background: #f4f5f8;
  padding: 45px;
}
@media (max-width: 1200px) {
  .books .content .book {
    width: 40%;
  }
}
@media (max-width: 991px) {
  .books .content .book {
    width: 90%;
  }
}
.books .content .book form {
  display: flex;
  flex-direction: column;
}

.books .content .book span {
  font-size: 15px;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  color: #2095ae;
  text-transform: uppercase;
  position: relative;
  letter-spacing: 5px;
  margin-bottom: 10px;
}
.books .content .book h3 {
  font-family: "Gilda Display", serif;
  font-size: 27px;
  font-weight: 400;
  color: #0f2454;
  border-bottom: 1px solid rgba(32, 149, 174, 0.2);
  padding-bottom: 15px;
  letter-spacing: 0;
  text-transform: none;
  margin-top: 0;
}
.books .content .book form input {
  width: 100%;
  padding: 15px;
  border: none;
  outline: none;
  font-size: 20px;
  color: #000;
  background-color: #fff;
  margin-bottom: 10px;
}
.books .content .book form label {
  font-size: 18px;
  color: #0f2454;
  margin-bottom: 2px;
}
.books .content .book form .select {
  display: flex;
  gap: 5px;
}
.books .content .book form select {
  width: 48%;
  padding: 15px;
  border: none;
  outline: none;
  font-size: 20px;
  color: #000;
  background-color: #fff;
  margin-bottom: 5px;
}
.books .content .book form select option {
  padding: 10px;
  color: #000;
  background-color: #fff;
  text-align: center;
}
.books .content .book form select option.active,
.books .content .book form select option:hover {
  background-color: var(--main-color);
  color: var(--black-color);
}
/* .books .content .book form a {
  display: block;
  text-align: center;
  padding: 0;
  border: none;
  margin: 0;
  margin-top: 15px;
  width: 100%;
  background-color: var(--main-color);
  color: var(--black-color);
  font-size: 15px;
  text-decoration: none;
  line-height: 62px;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease-out;
  letter-spacing: 3px;
  text-transform: uppercase;
} */
.books .content .book form a {
  width: 100%;
  font-weight: 400;
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  background-color: var(--main-color);
  color: #fff;
  margin-top: 15px;
  letter-spacing: 3px;
  cursor: pointer;
  padding: 15px 30px;
  margin: 0;
  position: relative;
  font-size: 15px;
  display: inline-block;
  transition: 0.3s ease all;
  border: 0;
  top: 20px;
  z-index: 1;
}
.books .content .book form a::before {
  content: "";
  position: absolute;
  transition: 0.3s ease all;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  background-color: #fff;
  border: 1px solid var(--main-color);
  z-index: -1;
}
.books .content .book form a:hover {
  color: var(--main-color);
}
.books .content .book form a:hover:before {
  transition: 0.3s ease all;
  left: 0;
  right: 0;
  opacity: 1;
}

/* end Book */
/* start footer */
footer {
  padding-top: 100px;
  padding-bottom: 50px;
  background-color: #0f2454;
  color: var(--black-color);
}
footer .content {
  display: flex;
  justify-content: space-around;
  gap: 15px;
  padding-bottom: 30px;
  border-bottom: 1px solid var(--main-color);
}
@media (max-width: 991px) {
  footer .content {
    display: flex;
    flex-direction: column;
  }
}
footer .content .footer-info h3 {
  font-family: "Gilda Display", serif;
  font-weight: 400;
  line-height: 1.25em;
  margin: 0 0 20px 0;
  margin-bottom: 20px;
  font-size: 30px;
}
footer .content .footer-info p {
  font-family: "Barlow", sans-serif;
  font-size: 15px;
  line-height: 1.9;
  margin: 0;
  color: #fff;
  margin-bottom: 10px;
}
footer .content .footer-info select {
  padding: 10px 20px;
  color: #fff;
  background: #2095ae;
  border: 0;
  outline: 0;
  font-size: 22px;
  text-align: center;
}
footer .content .footer-info a {
  font-family: "Barlow", sans-serif;
  position: relative;
  display: block;
  font-size: 15px;
  color: #fff;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

footer .content .footer-info a:hover {
  font-weight: bold;
}
footer .content .footer-info .calls {
  display: flex;
  gap: 10px;
}

footer .content .footer-info .calls .call {
  font-size: 30px;
  color: #fff;
  margin-right: 10px;
}
footer .content .footer-info .calls a {
  font-size: 25px;
  cursor: pointer;
  margin-bottom: 7px;
}
footer .content .footer-info .mail {
  width: fit-content;
  margin-bottom: 7px;
  border-bottom: 1px solid var(--main-color);
}
footer .content .footer-info .social {
  text-align: center;
  display: flex;
  gap: 13px;
}
footer .content .footer-info .social .i {
  cursor: pointer;
}
footer .content .footer-info .social .i:hover {
  color: var(--main-color);
}
