:root {
  --main-color: #2095ae;
  --black-color: #fff;
  --main-transition: 0.4s;
}
/* start news-head */
.news-head {
  min-height: calc(80vh - 100px);
  background-image: url("../images/slider-1.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: relative;
}
.news-head .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(0 0 0 / 20%);
}
.news-head .container .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 111;
}
.news-head .container .content h4 {
  color: var(--black-color);
}
.news-head .container .content h1 {
  font-family: "Gilda Display", serif;
  color: var(--black-color);
  font-size: 60px;
}
/* end news-head */
/* start news */
.news {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #f4f5f8;
}
.news .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  column-gap: 10px;
  row-gap: 100px;
}
.news .box {
  position: relative;
  transition: var(--main-transition);
}
.news .box .img {
  overflow: hidden;
}
.news .box img {
  max-width: 100%;
  transition: var(--main-transition);
}
.news .box:hover img {
  transform: scale(1.2);
}
.news .box .date {
  position: absolute;
  background-color: var(--main-color);
  color: var(--black-color);
  width: 50px;
  text-align: center;
  padding: 5px;
  top: 10px;
  left: 10px;
}
.news .box .date p {
  margin: 0;
}
.news .box .content {
  width: 90%;
  background-color: white;
  margin: auto;
  padding: 10px;
  position: absolute;
  bottom: -60px;
  left: 50%;
  transform: translateX(-50%);
  transition: var(--main-transition);
}
.news .box .content h4 {
  font-size: 18px;
  color: var(--main-color);
}
.news .box .content p {
  font-size: 25px;
  font-family: "Gilda Display", serif;
  line-height: 1.4;
  transition: var(--main-transition);
}
.news .box:hover .content {
  bottom: 30px;
}
.news .box .content:hover p {
  color: var(--main-color);
}
/* end news */
